<header>
  <h1>{{title}}</h1>
</header>

<div class="vending-machine">
  <div class="products">
    <div class="product" *ngFor="let product of products">
      <mat-icon class="product-icon" [style.color]="product.Image">local_drink</mat-icon>
      <div class="product-name">{{product.Name}}</div>
      <div class="product-quantity">{{product.CurrentStock}} / {{product.StockLimit}}</div>
      <div class="product-price">${{product.Price | number: '1.2-2'}}</div>
      <div class="product-selection-button">
        <button [disabled]="activeTransaction === undefined">Select</button>
      </div>
    </div>
  </div>
  <div class="payment">
    <button>Pay by Cash</button>
    <button>Pay by Card</button>
  </div>
</div>
